body {
  background-color: #FFFFEE;
  font-family: sans-serif;
}
img {
  width:10%;
}
h1{
  color: #005ca0;
  border-bottom: 3px solid #005ca0;
}
h2{
  font-size: 1.5em;
}
h2, p, iframe{
  color: #005ca0;
  margin-left:5%
}
